<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="URLJobs" value="https://networkintegration.sharepoint.com/sites/365Build/Watersun/WatersunJobs" />
    <add key="URL" value="https://networkintegration.sharepoint.com/sites/365Build/Watersun" />
    <add key="UserName" value="andrew@365build.com.au" />
    <add key="Password" value="ch@lleng3r" />
    <add key="UserName2" value="vaibhav@365build.com.au" />
    <add key="Password2" value="india@123" />
    <add key="JobsDataList" value="l_jobsData" />
    <add key="JobsDataColumn" value="Title" />
    <add key="JobsExcelRow" value="3" />
    <add key="JobsExcelColCount" value="5" />
    <add key="SuppliersList" value="l_Supplier" />
    <add key="SuppliersColumn" value="SupplierCode" />
    <add key="SuppliersExcelRow" value="8" />
    <add key="SuppliersExcelColCount" value="6" />
    <add key="ETSData" value="ETS Data" />
    <add key="ETSDataColumn" value="ETSId" />
    <add key="ETSExcelRow" value="13" />
    <add key="ETSExcelColCount" value="26" />
    <add key="ClientData" value="l_Client" />
    <add key="ClientDataColumn" value="JobId" />
    <add key="ClientExcelRow" value="18" />
    <add key="ClientExcelColCount" value="7" />
    <add key="JobsSuppList" value="l_JobsData" />
    <add key="JobsIDColumn" value="Title" />
    <add key="JobsSuppColumn" value="Job_x0020_Supervisor" />
    <add key="UpdateEtsList" value="ETS Data" />
    <add key="UpdateEtsIDColumn" value="ETS_x0020_No" />
    <add key="UpdateEtsTargetColumn" value="Complete" />
    <add key="workflowName" value="EmailDelayNotifications" />
    <add key="workflowHistoryListID" value="3900DFB4-47E4-491E-AAE8-DE6CAE89CFE8" />
    <add key="taskListID" value="D4A197FC-11C0-422D-AD79-17B10CAA243B" />
    <add key="emailId" value="vaibhav@365build.com.au" />
    <add key="SuppliersList2" value="SuppliersList" />
    <add key="SuppliersColumn2" value="SupId" />
    <add key="qryGetAllJobs" value="select JobNum,JobId,JobAddr, client,delay, week,overall, JobDelayLink,JobLink,Supervisor,ConstructionManager,JobsDelay,JobsDetail  from [WatersunData].[dbo].[vJobDelay] where JobNum in (SELECT  cast([JobNumber] as varchar) FROM [WatersunData].[dbo].[vFrameworkJobs] where left(JobNumber,1) in (4,5))" />
    <add key="PerJobDelayItems" value="select Reason,Comments,DelayDate,ToDelayDate,DelayId,JobNumber,JobId,CstId,dateModified,timeModified From [WatersunData].[dbo].[vPerJobDelay] WHERE JobNumber = @JobNumber" />
    <add key="JobDelaysNoCondition" value="SELECT [JobNumber] ,[Reason],[Comments],[JobId],[l_cst_id],[DelayId],[l_cst_dlyClass_id],[s_name],[DelayDate],[l_cst_dlyReas_id],[ToDelayDate],[Delay],[i_delAllowed_wD],dateModified,timeModified FROM [WatersunData].[dbo].[v_JobDelaysNoCondition] where jobnumber = @JobNumber" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>